<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <div class="container-fluid d-flex">
        
        <div class="land-container bg-image">
         <div class="heading"><h1>Anthyakshari</h1></div>
         <div class="button-link">
          <a href="#"><button class="btn btn-light btn-outline-primary text-dark" style="margin-left: 50px; width: 100px;height:40px;border:2px solid black; border-radius: 5px;">Signup</button></a>
          <a href="#"><button class="btn btn-light btn-outline-primary text-dark" style="margin-left: 50px;width:100px;height: 40px; border:2px solid black; border-radius: 5px;">Login</button></a>
         </div>
          </div>
        
    
    </div>
</body>
</html>
