.main{
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 6px grey;
    padding: 43px;
}
.form-control {
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.font {
    font-size: 25px;
}
.btn{
    padding-top:10px ;
    padding-bottom: 40px;
}